/*#rightHalf {
	float: right;
}*/

main {
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	justify-content: center;
}

table {
	border: 2px solid black;
	margin: auto;
}

header {
	flex: 1 100%; /* 1. vi anger först att header ska vara 100% bred så att "row wrap" tvingar nästa sak på sin egna rad. Width: 100% funkar sämre för mig. */
}

section {
	flex: 25 0px; /* 2. några saker ska vara på samma rad, t.ex ska denna ta upp "25" av raden */
	align-items: center;
}

aside {
	flex: 1; /* 3. och denna ska ta upp "1" av raden. */
	align-items: baseline;
	justify-content: center;

}
	
video {
	order: 2;
	
}

figure {
	order: 1;
	
}

audio {
	order: 3;	
}

#MediaSectionET {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width: 767px) {
	#smallStanislav {
		width: 200px; 
		height: 250px;
	}
}
	
	
	
@media screen and (min-width: 768px ) and (max-width: 1199px) {
	#smallStanislav {
		width: 300px; 
		height: 375px;
	}	
}
		
		
@media screen and (min-width: 1200px) {
	table {
		font-size: 1.5rem;
		/*margin: 0rem 1rem 1rem 3rem;*/
	}
	
	#smallStanislav {
		width: 400px; 
		height: 500px;
	}
	
	main {
		width: max(100%, 1200px);
		flex-direction: row;
	}
	
	main aside {
		order: 2; /* 5. och ny ordning relativt till main */
	}
	
	main section {
		order: 1;
	}
	
	#MediaSectionET {
		flex-direction: row;
	}
}