



form {
    border: 2px solid black;
    background-color: lightblue;
	padding: 1rem 1rem 1rem 1rem;
	text-align: left;
	margin-left: 70%;
	margin-top: 10%;
	border-radius: 10px;
	width: 25%;
	height: 25%;
}

#name, #url, #email {
	width: 99%;
	margin-right: 3rem;
}

#fileDiv {
	text-align: center;
}

.options {
	display: inline-block;
	padding: 1rem 1rem;
	vertical-align: middle;
	text-align: center;
}

#optionsDiv {
	text-align: center;
}

