html {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background-image: linear-gradient(rgb(0, 76, 153), black);
}

.header nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: 0.3s;
}

ul {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 10px;
	background-color: rgb(56,56,56);
}

li {
	list-style: none;
	margin-right: 20px;
	font-size: 2rem;
	font-weight: bold;
}

li a {
	text-decoration: none;
	color: white;
}

main {
	padding-bottom: 10%;
}

#main-content-section {
	display: flex;
	flex-direction: column;
}

#main-content-section > h1 {
	color: white;
}

.imgbox {
	background: url('../img/mistbackground.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
	/*height: 100%;*/
	width: 100%;
	margin: auto;
}

.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

p {
	font-size: 24px;
	color: white;
}

#page-title {
	text-align: center;
    top: 50%;
    position: relative;
	font-size: 45px;
	/*font-family: 'Hind-Bold';*/
}

#vegitation-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	width: 80%;
	margin: auto;
	padding-top: 100px;
	margin-bottom: 10%;
}

#vegitation-article {
	display: flex;
	flex-direction: column;
	/*width: 45%;*/
	flex-shrink: 30;
}

#vegitation-title {
	font-size: 60px;
	color: white;
	margin-bottom: 2%;
}

#slideshow{
	align-items: center;
	display: flex;
	grow: 3;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 900px;
	width: 600px;
}

#slider{
	height: 900px;
	width: 600px;
	overflow: hidden;
}

.slider-img {
	height: 900px;
	width: 600px; 
	transition: all 1s;
	z-index: 4;
}

#arrows{
	display: flex;
	justify-content: space-between;
	height: 0px;
	position: relative;
	top: 50%;
	width: 100%;
}

#arrows i{
	background-color: rgba(255, 255, 255, .25);
	color: #1C1D21;
	cursor: pointer;
	height: 30px;
	padding: 15px;
	border-radius: 50%;
	transition: background-color .5s, color .5s;
}

#arrows i:first-of-type{ 
	padding-right: 20px;
}

#arrows i:last-of-type{ 
	padding-left: 20px;
}

#arrows i:hover{
	background-color: rgba(28,29,33, .75);
	color: #EEEFF7;
}

.icon-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 5%;
	height: 400px;
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
}

.icon-subsection {
	display: flex;
	flex-direction: column;
	width: 400px;
	justify-content: center;
	align-items: baseline;
	
	margin: auto;
}

#co2-icon, #rain-icon, #forest-icon {
	/*width: 230px;*/
	width: 50%;
}

#co2-text, #rain-text, #forest-text {
	font-size: 2rem;
	text-align: center;
}

#co2-icon, #rain-icon, #forest-icon, #co2-text, #rain-text, #forest-text {
	margin: auto;
}

@font-face {
	font-family: "Hind-Bold";
	src: url("../fonts/Hind-Bold.ttf");
}

@media screen and (max-width: 1024px) {
	#vegitation-section {
		flex-direction: column;
	}
	
	#slideshow, #slider, .slider-img {
		height: 900px;
		width: 100%;
	}
	
	.icon-section {
		flex-direction: column;
		height: 1000px;
	}

	.icon-subsection {
		width: 400px;
	}

	#co2-icon, #rain-icon, #forest-icon {
		width: 230px;
	}
	
}


@media screen and (max-width: 767px) {
	#vegitation-section {
		flex-direction: column;
	}

	#slideshow, #slider, .slider-img {
		height: 627px;
		width: 100%;
	}

	#morning {
		content: url("../img/morning-small.jpg") no-repeat center;
	}
	
	#stream {
		content: url("../img/stream-small.jpg") no-repeat center;
	}
	
	#waterfal {
		content: url("../img/waterfal-small.jpg") no-repeat center;
	}
	
	.icon-section {
		flex-direction: column;
		height: 1000px;
	}

	#co2-icon, #rain-icon, #forest-icon {
		width: 180px;
	}

	#co2-text, #rain-text, #forest-text {
		font-size: 1.5rem;
	}
}
