html {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background-image: linear-gradient(rgb(0, 76, 153), black);
}

/*
Navbar-section
*/

#hamburger {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 50px;
	border: 10px;
	cursor: pointer; 
	display: none;
	margin-right: 2rem;
}

#hamburger:focus {
	outline: none;
}

.header nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	top: 0;
	width: 100%;
	height: fit-content;
	z-index: 1000;
	transition: 0.3s;
	background-color: rgb(56,56,56);
}

ul {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
}

li {
	list-style: none;
	margin-right: 20px;
	font-size: 2rem;
	font-weight: bold;
}

li a {
	text-decoration: none;
	color: white;
}

main {
	padding-bottom: 10%;
}

#main-content-section {
	display: flex;
	flex-direction: column;
}

#main-content-section > h1 {
	color: white;
}

.imgbox {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../img/mistbackground.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
	/*height: 100%;*/
	width: 100%;
	margin: auto;
}

.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

#page-title {
	font-size: 45px;
	text-decoration: none;
	/*font-family: 'Hind-Bold';*/
}

p {
	font-size: 24px;
	color: white;
}


#vegetation-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	width: 80%;
	margin: auto;
	padding-top: 100px;
	margin-bottom: 10%;
}

.show-read-more .more-text{
	display: none;
}

#vegetation-article {
	display: flex;
	flex-direction: column;
	/*width: 45%;*/
	flex-shrink: 30;
}

#vegetation-title {
	font-size: 60px;
	color: white;
	margin-bottom: 2%;
}

#slideshow {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 70vh;
	width: 50%;
}

#slider {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.slider-img {
	height: 100%;
	width: 100%; 
	object-fit: cover;
	transition: all 1s;
	z-index: 4;
}

#arrows {
	display: flex;
	justify-content: space-between;
	height: 0px;
	position: relative;
	top: 50%;
	width: 100%;
}

#arrows i {
	background-color: rgba(255, 255, 255, .25);
	color: #1C1D21;
	cursor: pointer;
	height: 30px;
	padding: 15px;
	border-radius: 50%;
	transition: background-color .5s, color .5s;
}

#arrows i:first-of-type { 
	padding-right: 20px;
}

#arrows i:last-of-type { 
	padding-left: 20px;
}

#arrows i:hover {
	background-color: rgba(28,29,33, .75);
	color: #EEEFF7;
}

#icon-section-title {
	font-size: 3rem;
}

.icon-section {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 5%;
	height: 400px;
	width: 80vw;
	margin: 0 auto;
}

.icon-subsection {
	display: flex;
	flex-direction: column;
	width: 400px;
	justify-content: center;
    align-items: center;
	margin: auto;
}

#co2-icon, #rain-icon, #forest-icon {
	/*width: 230px;*/
	width: 50%;

}

#co2-text, #rain-text, #forest-text {
	font-size: 2rem;
	text-align: center;
}

#co2-icon, #rain-icon, #forest-icon, #co2-text, #rain-text, #forest-text {
	margin: 1rem;
}

@font-face {
	font-family: "Hind-Bold";
	src: url("../fonts/Hind-Bold.ttf");
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media screen and (max-width: 1024px) {
	
	.header nav {
		flex-wrap: wrap;
	}
	
	.nav-ul {
		display: none;
	}
	
	.nav-ul.show {
		display: flex;
		flex-direction: column;
	}
	
	#hamburger {
		display: block;
	}
	
	#vegetation-section {
		flex-direction: column;
	}
	
	#slideshow, #slider, .slider-img {
		height: 70vh;
		width: 100%;
	}
	
	#morning {
		content: url("../img/morning-small.jpg") no-repeat center;
	}
	
	#stream {
		content: url("../img/stream-small.jpg") no-repeat center;
	}
	
	#waterfal {
		content: url("../img/waterfal-small.jpg") no-repeat center;
	}
	
	.icon-section {
		flex-direction: column;
		height: fit-content;
		width: 100vw;
	}

	.icon-subsection {
		width: 100vw;
	}

	#co2-icon, #rain-icon, #forest-icon {
		width: 230px;
	}
	
	#co2-icon, #rain-icon, #forest-icon, #co2-text, #rain-text, #forest-text {
		margin: 2rem;
	}
	
}


@media screen and (max-width: 767px) {
	
	#vegetation-section {
		flex-direction: column;
	}

	#slideshow, #slider, .slider-img {
		height: 70vh;
		width: 100%;
	}

	#morning {
		content: url("../img/morning-small.jpg") no-repeat center;
	}
	
	#stream {
		content: url("../img/stream-small.jpg") no-repeat center;
	}
	
	#waterfal {
		content: url("../img/waterfal-small.jpg") no-repeat center;
	}
	
	.icon-section {
		flex-direction: column;
		height: fit-content;
	}

	#co2-icon, #rain-icon, #forest-icon {
		width: 180px;
	}

	#co2-text, #rain-text, #forest-text {
		font-size: 1.5rem;
		width: 80vw;
	}
}


